@use "../abstract/variaveis";
@use "../abstract/mixins";

#contatos {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    @include mixins.margem-centralizada(80%);

    .contatos-imgs {
        max-width: 50%;
    }
}
    .contatos-form {
        max-width: 50%;
    }
}