@use "../abstract/variaveis";
@use "../abstract/mixins";

#nosso-espaco {
    @include mixins.margem-centralizada(80%);
    .detalhes {
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        width: 100%;
        .imgs-espaco {
            max-width: 500px;
        }

        .espaco-textos {
            @extend .imgs-espaco;
            .separador {
                width: 100%;
            }
        }
    }
}