@use "../abstract/variaveis";
@use "../abstract/mixins";

#servico {
    background: variaveis.$gradiente-primario;

    .cards {
        display: flex;
        gap: 1.6rem;
        @include mixins.margem-centralizada(80%);
        padding: 3.2rem 0;
    }
}